<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 3
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1KbWiGlupiSwYlqc8nmV6KjB3vNTI0C5hxZ6Tq3ZU4QA).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [2]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [8]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин

In [27]:
# Ваш код здесь
#print(df.info())70000 единиц

#df['gender'].value_counts()
#1    45530
#2    24470


df[df['gender'] == 1].mean() ,  ' ',df[df['gender'] == 2].mean()
Предположение автора - мужчины в среднем выше
Мои предположения - мужчины в среднем больше курят и пьют
Предположения Светы - у мужчин уровень холестирина в среднем ниже чем у женщин

(age            19510.124577
 gender             1.000000
 height           161.355612
 weight            72.565605
 ap_hi            128.139249
 ap_lo             94.522776
 cholesterol        1.384735
 gluc               1.235054
 smoke              0.017856
 alco               0.025500
 active             0.802021
 cardio             0.496727
 dtype: float64, ' ', age            19392.097875
 gender             2.000000
 height           169.947895
 weight            77.257307
 ap_hi            130.078872
 ap_lo            100.551982
 cholesterol        1.333633
 gluc               1.210462
 smoke              0.218880
 alco               0.106375
 active             0.806906
 cardio             0.505231
 dtype: float64)

In [15]:
df[df['gender'] == 1]['height'].mean(),df[df['gender'] == 2]['height'].mean()

# !!! ОТВЕТ: 
#    gender = 1 - женщины
#    gender = 2 - мужчины

(161.35561168460356, 169.94789538210054)

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [17]:
# Ваш код здесь
df[df['gender'] == 1]['alco'].mean(),df[df['gender'] == 2]['alco'].mean()

# !!! ОТВЕТ: 
#    женщины

(0.02549967054689216, 0.10637515324887617)

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [64]:
# Ваш код здесь
pd.crosstab(df['gender'],df['smoke'])

smoke       0     1
gender
1       44717   813
2       19114  5356

In [71]:
#5356*100/(19114+5356)
# процент курящих мужчин = 21.88802615447487

#813*100/(44717+813)
# процент курящих женщин = 1.785635844498133

# во сколько раз процент мужчин курящих больше процента курящих женщин
round((5356*100/(19114+5356))/(813*100/(44717+813)))

# ОТВЕТ : 
#        в 12 раз

12

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- 20
- 25

In [103]:
# Ваш код здесь
#df[df['gender'] == 1]['age'].mean(), df[df['gender'] == 2]['age'].mean(),
round(df[df['gender'] == 1]['age'].mean()/365)
df[df['gender'] == 1]['age'].mean()/365, df[df['gender'] == 2]['age'].mean()/365

# похоже что возраст измеряется в днях

df[df['smoke'] == 0]['age'].median(), df[df['smoke'] == 1]['age'].median(),
(df[df['smoke'] == 0]['age'].median() - df[df['smoke'] == 1]['age'].median())/30
# ОТВЕТ : 
#        разница примерно в 20 месяцев

19.9

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [8]:
# Ваш код здесь

In [184]:
df['age_years'] = round(df['age']/365)

In [187]:
df_t5 = df[(df['age_years'] >= 60) & (df['age_years'] <= 64) & (df['smoke'] == 1)]
df_t5.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
29,21755,2,162,56.0,120,70,1,1,1,0,1,0,60.0
52,23388,2,162,72.0,130,80,1,1,1,0,1,1,64.0
90,22099,2,171,97.0,150,100,3,1,1,0,1,1,61.0
240,21848,2,170,69.0,120,80,1,1,1,1,1,0,60.0
248,22671,2,174,74.0,130,80,3,1,1,0,1,1,62.0

In [188]:
df_t5_group1 = df_t5[(df_t5['ap_hi'] < 120) & (df_t5['cholesterol'] == 1)]
df_t5_group2 = df_t5[(df_t5['ap_hi'] >= 160) & (df_t5['ap_hi'] < 180) & (df_t5['cholesterol'] == 3)]

In [202]:
df_t5_group1.shape[0] # == 85
df_t5_group1[df_t5_group1['cardio'] == 1].shape[0] # == 23
round(23*100/85)

27

In [206]:
df_t5_group2.shape[0] # == 26
df_t5_group2[df_t5_group2['cardio'] == 1].shape[0] # == 23
round(23*100/26)

88

In [208]:
round(88/27)
# ОТВЕТ В 3 РАЗА

3

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [144]:
# Ваш код здесь
df[df['gender'] == 1]['weight'].mean(),df[df['gender'] == 2]['weight'].mean()

(72.56560509554139, 77.25730690641602, 161.35561168460356, 169.94789538210054)

In [146]:
df[df['gender'] == 1]['height'].mean(),df[df['gender'] == 2]['height'].mean()

(161.35561168460356, 169.94789538210054)

In [162]:
BMI = df['weight']/((df['height']/100)**2)
BMI.head()

id
0    21.967120
1    34.927679
2    23.507805
3    28.710479
4    23.011177
dtype: float64

In [163]:
BMI.median() # 26.374068120774975
# Медианный BMI по выборке превышает норму - ВЕРНО
# ОТВЕТ : Медианный BMI по выборке превышает норму

26.374068120774975

In [166]:
BMI_W = df[df['gender'] == 1]['weight']/((df[df['gender'] == 1]['height']/100)**2)
BMI_W.mean()

27.98758344183312

In [170]:
BMI_M = df[df['gender'] == 2]['weight']/((df[df['gender'] == 2]['height']/100)**2)
BMI_W.mean(),BMI_M.mean()
# У женщин в среднем BMI ниже, чем у мужчин - НЕВЕРНО

(27.98758344183312, 26.754442357289474)

In [169]:
BMI_HEALTH = df[df['cardio'] == 0]['weight']/((df[df['cardio'] == 0]['height']/100)**2)
BMI_CARDIO = df[df['cardio'] == 1]['weight']/((df[df['cardio'] == 1]['height']/100)**2)
BMI_HEALTH.mean(),BMI_CARDIO.mean()
# У здоровых в среднем BMI выше, чем у больных - НЕВЕРНО

(26.54817520679475, 28.566060627015435)

In [173]:
# Нормальными считаются значения BMI от 18.5 до 25
# В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин
BMI_2 = df[(df['gender'] == 2) & (df['cardio'] == 0) & (df['alco'] == 0)]['weight']/((df[(df['gender'] == 2) & (df['cardio'] == 0) & (df['alco'] == 0)]['height']/100)**2)

BMI_1 = df[(df['gender'] == 1) & (df['cardio'] == 0) & (df['alco'] == 0)]['weight']/((df[(df['gender'] == 1) & (df['cardio'] == 0) & (df['alco'] == 0)]['height']/100)**2)

BMI_2.mean(), BMI_1.mean()
# ОТВЕТ утверждение ВЕРНО

# В ЭТОМ ЗАДАНИИ ДВА ВЕРНЫХ УТВЕРЖДЕНИЙ

(25.872638075460173, 26.845406594131518)

In [176]:
df_bmi_w = df[(df['gender'] == 1) & (df['cardio'] == 0) & (df['alco'] == 0)]
df_bmi_m = df[(df['gender'] == 2) & (df['cardio'] == 0) & (df['alco'] == 0)]

In [181]:
bmi_health_w = df_bmi_w['weight']/((df_bmi_w['height']/100)**2)
bmi_health_m = df_bmi_m['weight']/((df_bmi_m['height']/100)**2)


bmi_health_m.mean(),bmi_health_w.mean()

(25.872638075460173, 26.845406594131518)

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [129]:
df.shape[0]

70000

In [121]:
# Ваш код здесь
df[df['ap_lo'] > df['ap_hi']].shape[0] # 1234 rows

1234

In [127]:
s=df['height']
s1=s.quantile(.025, 'lower') 
df[df['height'] < s1].shape[0] # число записей у которых рост строго меньше 2.5% = 1537

1537

In [128]:
s=df['height']
s2=s.quantile(.975, 'higher') 
df[df['height'] > s2].shape[0] # число записей у которых рост строго больше 97.% = 1439

1439

In [132]:
s=df['weight']
s1=s.quantile(.025, 'lower') 
df[df['weight'] < s1].shape[0] # число записей у которых вес строго меньше 2.5% = 1490

1490

In [133]:
s=df['weight']
s2=s.quantile(.975, 'higher') 
df[df['weight'] > s2].shape[0] # число записей у которых вес строго больше 97.5% = 1613

1613

In [135]:
round((1234+1537+1439+1490+1613)/70000*100)

# ОТВЕТ : было отброшено 10% бракованных данных

10

In [ ]:
# ИТОГО 
1)  3
2)  2
3)  3 
4)  3
5)  2
6) 1 + 4
7) 3